@font-face {
  font-family: 'mulish-Bold';
  src: url('../Fonts/Mulish-Bold.ttf');
}
@font-face {
  font-family: 'mulish-Semibold';
  src: url('../Fonts/Mulish-SemiBold.ttf');

}
@font-face {
  font-family: 'mulish-Medium';
  src: url('../Fonts/Mulish-Medium.ttf');

}
@font-face {
  font-family: 'mulish-Regular';
  src: url('../Fonts/Mulish-Regular.ttf');
}


