@import "fonts.scss";

$primary: #17c3a5;
$textColor: #111111;
$lightMonstoneBlue: #e7f9f6;
$grey: #808080;
$magenta: #ea5a92;
$lightMagenta: #fff4f8;
$orange: #fa8036;
$lightOrange: #fff7f2;
$lightOrange: #fff7f2;
$purple: #d48be4;
$lightPurple: #fcf1ff;
$blue: #5096f7;
$lightBlue: #f1f7ff;
$bodyColor: #f6fbff;
$white: #fff;
$green: #00ac51;
$lightPaste: #f3fff9;
$catTableHd: #dcffec;
$lightGray: #fafafa;
$deleteBtnColor: #f49200;
//Fonts
$mulishBold: "mulish-Bold", sans-serif;
$mulishSemiBold: "Semibold", sans-serif;
$mulishMedium: "mulish-Medium", sans-serif;
$mulishRegular: "mulish-Regular", sans-serif;

$size: 6rem;

//
